<!-- app/views/dashboard/show.html.erb -->
  <div data-controller="hello">
   Stimulusテスト
  </div>
<div class="mx-auto max-w-screen-xl p-6 space-y-6">
  <h2 class="text-2xl font-bold">ダッシュボード</h2>
  <hr>
  <!-- キャラ育成エリア -->
  <div style="width:700px; height:300px; border:2px solid black;
            display:flex; align-items:center; justify-content:center;">
    <h1>キャラクター</h1>
    <% if current_user.active_character %>
      <div class="ml-auto w-1/2">
        <p>経験値</p>
        <%= render "characters/exp_bar", character: current_user.active_character %>
      </div>
    <% end %>
  </div>
    <hr>
  <div class="grid grid-cols-2 gap-6">
      <!-- TODO一覧 -->
    <section class="space-y-3">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">TODO一覧</h3>
        <%= render "tasks/todolist", tasks: @todos, kind: :todo %>
      </div>
    </section>

    <!-- 習慣一覧 -->
    <section class="space-y-3">
      <div class="w-ful ">
        <h3 class="text-lg font-bold mb-2">習慣一覧</h3>
        <%= render "tasks/todolist", tasks: @habits, kind: :habit %>
      </div>
    </section>
  </div>
  

  <!-- タブ（将来：グラフ / 図鑑 / 設定 / プロフィール など） -->
  <hr>
  <nav style="margin: 16px 0;">
    <ul style="display: flex; gap: 12px; list-style: none; padding: 0; margin: 0;">
      <li><a href="#">ホーム</a></li>
      <li><a href="#">グラフ</a></li>
      <li><a href="#">図鑑</a></li>
      <li><a href="#">設定</a></li>
      <li><a href="#">プロフィール</a></li>
    </ul>
  </nav>
</div>
