<ul class="space-y-3">
  <% tasks.each do |t| %>
    <li id="<%= dom_id(t) %>">
      <%= render "tasks/task_item", t: t %>
    </li>
  <% end %>

  <!-- 新しいTODO or 習慣の追加）-->
  <li>
    <%= link_to new_task_path(kind: kind),
      class: "block rounded-2xl bg-white shadow-sm ring-1 ring-black/5 px-5 py-4 hover:shadow md:px-6" do %>
      <div class="flex items-center gap-5">
        <div class="grid h-10 w-10 place-items-center rounded-full bg-gray-100 text-2xl text-gray-600">+</div>
        <div class="text-xl font-semibold text-gray-900">
          新しい<%= kind == :todo ? "TODO" : "習慣" %>の追加
        </div>
      </div>
    <% end %>
  </li>
</ul>
