<ul class="space-y-3">
  <% @tasks.each do |t| %>
    <%= render "tasks/task_item", t: t %>
  <% end %>

  <!-- 追加行（「新しいTODOの追加」行）-->
  <li>
    <%= link_to new_task_path(kind: :todo),
      class: "block rounded-2xl bg-white shadow-sm ring-1 ring-black/5 px-5 py-4 hover:shadow md:px-6" do %>
      <div class="flex items-center gap-5">
        <div class="grid h-10 w-10 place-items-center rounded-full bg-gray-100 text-2xl text-gray-600">+</div>
        <div class="text-xl font-semibold text-gray-900">新しいTODOの追加</div>
      </div>
    <% end %>
  </li>
</ul>

  <!-- 追加行(仮)（「新しい習慣の追加」行）-->
  <li>
    <%= link_to new_task_path(kind: :habit),
      class: "block rounded-2xl bg-white shadow-sm ring-1 ring-black/5 px-5 py-4 hover:shadow md:px-6" do %>
      <div class="flex items-center gap-5">
        <div class="grid h-10 w-10 place-items-center rounded-full bg-gray-100 text-2xl text-gray-600">+</div>
        <div class="text-xl font-semibold text-gray-900">新しい習慣の追加</div>
      </div>
    <% end %>
  </li>