<turbo-frame id="calendar">
  <%= month_calendar(events: @all_events, attribute: :occurred_at, start_date: @start_date) do |date, events| %>
    <div class="p-1">
      <div class="flex flex-col items-center">
        <span class="text-sm"><%= date.day %></span>
        <span class="w-5 h-5 flex items-center justify-center">
          <% if events.any? %>
            <span class="stamp-icon text-green-500 text-xl leading-none">✔︎</span>
          <% else %>
            <span class="invisible text-xl leading-none">✔︎</span>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</turbo-frame>
