<footer class="footer bg-gray-800 text-white py-4 mt-10">
  <div class="footer-copy text-sm justify-center flex">
    <span>©<%= Time.current.year %> MotiPet</span>
  </div>
  <div class="footer-links flex gap-6 mt-2 justify-center">
    <%= link_to t('layouts.footer.terms_text'), terms_path, class: "footer-link" %>
    <%= link_to t('layouts.footer.privacy'), "https://www.kiyac.app/privacypolicy/IiKWefRFnOIvmxtRY43T", 
                class: "footer-link", target: "_blank", rel: "noopener" %>
    <%= link_to t('layouts.footer.contact'), "https://docs.google.com/forms/d/e/1FAIpQLSdN1zaM7oU0bO4o3IsvhZyQM4msqGsegoV9pSkfoYQtzKdhyQ/viewform?usp=header", 
                class: "footer-link", target: "_blank", rel: "noopener" %>
  </div>
</footer>
